{{rtlog this}}
<div class="rt-wrapper">
    <form class="rt-actor" autocomplete="off">
        <div class="rt-header rt-grid-col-6 rt-panel">
            <div class="rt-header__info">
                <div class="rt-header__logo rt-header__item-wrapper--span-4">
                    <img class="rt-header__logo-image" src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" title="{{actor.name}}" />
                </div>
                <div class="rt-header__item-wrapper--span-2">
                    <span class="rt-header__title">Ship Name</span>
                    <input class="rt-header__input" name="name" type="text" value="{{actor.name}}" />
                </div>
                <div class="rt-header__item-wrapper">
                    <span class="rt-header__title">Class</span>
                    <input class="rt-header__input" name="system.shipClass" type="text" value="{{actor.system.shipClass}}" />
                </div>
                <div class="rt-header__item-wrapper">
                    <span class="rt-header__title">Type</span>
                    <input class="rt-header__input" name="system.shipType" type="text" value="{{actor.system.shipType}}" />
                </div>
            </div>
        </div>
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-defense-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-movement-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-utility-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-boarding-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-detection-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-crew-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-weapon-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-weapon-slots-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-components-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/voidship-traits-panel.hbs}}
    </form>
</div>


