{{dhlog this}}
<div class="rt-wrapper">
    <form class="rt-actor" autocomplete="off">
        <div class="rt-header rt-grid-col-6 rt-panel">
            <div class="rt-header__info">
                <div class="rt-header__logo rt-header__item-wrapper--span-4">
                    <img class="rt-header__logo-image" src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" title="{{actor.name}}" />
                </div>
                <div class="rt-header__item-wrapper--span-2">
                    <span class="rt-header__title">Name</span>
                    <input class="rt-header__input" name="name" type="text" value="{{actor.name}}" />
                </div>
                {{#each actor.bio}}
                    {{#if (arrayIncludes @key @root.rt.bio.primary)}}
                        {{> systems/rogue-trader-3rd/templates/actor/partial/character-field.hbs key=@key value=this options=(getBioOptions @key)}}
                    {{/if}}
                {{/each}}
            </div>
        </div>

        <div class="rt-navigation" data-group="primary">
            <label class="rt-navigation__item rt-navigation__item-left">
                <a class="item" data-tab="combat" data-group="primary">combat</a>
            </label>
            <label class="rt-navigation__item">
                <a class="item" data-tab="main" data-group="primary">main</a>
            </label>
            <label class="rt-navigation__item">
                <a class="item" data-tab="gear" data-group="primary">gear</a>
            </label>
            <label class="rt-navigation__item">
                <a class="item" data-tab="psychic" data-group="primary">psychic powers</a>
            </label>
        </div>

        <section class="rt-body">
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/rogue-trader-3rd/templates/actor/panel/wounds-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/fatigue-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/fate-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/armour-display-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/combat-controls-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/characteristic-roller-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/movement-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/active-effects-panel.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="main">
                {{> systems/rogue-trader-3rd/templates/actor/panel/characteristic-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/trait-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/bonuses-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/skills-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/skills-specialist-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/talent-panel.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/rogue-trader-3rd/templates/actor/panel/weapon-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/encumbrance-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/armour-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/storage-location-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/backpack-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/gear-panel.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="psychic">
                {{> systems/rogue-trader-3rd/templates/actor/panel/psychic-powers-panel.hbs}}
                {{> systems/rogue-trader-3rd/templates/actor/panel/psy-panel.hbs}}
            </div>
        </section>
    </form>
</div>


