{{rtlog this}}
<div class="rt-wrapper">
    <form class="rt-actor" autocomplete="off">
        <div class="rt-header rt-grid-col-6 rt-panel">
            <div class="rt-header__info">
                <div class="rt-header__logo rt-header__item-wrapper--span-4">
                    <img class="rt-header__logo-image" src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" title="{{actor.name}}" />
                </div>
                <div class="rt-header__item-wrapper--span-2">
                    <span class="rt-header__title">Vehicle Name</span>
                    <input class="rt-header__input" name="name" type="text" value="{{actor.name}}" />
                </div>
                <div class="rt-header__item-wrapper--span-2">
                    <span class="rt-header__title">Type</span>
                    <select class="rt-header__input" name="system.type">
                        {{selectOptions (arrayToObject rt.items.vehicle_types) selected=actor.system.type}}
                    </select>
                </div>
                <div class="rt-header__item-wrapper--span-2">
                    <span class="rt-header__title">Crew</span>
                    <input class="rt-header__input" name="system.crew" type="text" value="{{actor.system.crew}}" />
                </div>
                <div class="rt-header__item-wrapper--span-2">
                    <span class="rt-header__title">Carrying Capacity</span>
                    <input class="rt-header__input" name="system.carryingCapacity" type="number" data-dtype="Number" value="{{actor.system.carryingCapacity}}" />
                </div>
            </div>
        </div>
        {{> systems/rogue-trader-3rd/templates/actor/panel/vehicle-armour-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/vehicle-integrity-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/vehicle-movement-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/trait-panel.hbs}}
        {{> systems/rogue-trader-3rd/templates/actor/panel/weapon-panel.hbs}}
    </form>
</div>


