<div class="rt-wrapper">
    <form class="rt-item" autocomplete="off">
        <div class="rt-panel rt-grid-col-6">
            <div class="rt-header">
                <div class="rt-header__info">
                    <div class="rt-header__logo rt-header__item-wrapper--span-4">
                        <img class="rt-header__logo-image" src="{{item.img}}" data-edit="img" alt="{{item.name}}" title="{{item.name}}" />
                    </div>
                    <div class="rt-header__item-wrapper--span-4">
                        <span class="rt-header__title">Name</span>
                        <input class="rt-header__input" name="name" type="text" value="{{item.name}}" />
                    </div>
                </div>
                <div class="rt-navigation" data-group="primary">
                    <label class="rt-navigation__item">
                        <a class="item" data-tab="items" data-group="primary">items</a>
                    </label>
                    <label class="rt-navigation__item">
                        <a class="item" data-tab="description" data-group="primary">description</a>
                    </label>
                </div>
                <section class="rt-body">
                    <div class="tab" data-group="primary" data-tab="items">
                        <div class="rt-panel rt-grid-col-6">
                            <h1 class="rt-panel__header">Stored Items</h1>
                            <div class="rt-table--border rt-storagegeartable--border">
                                <div class="table-row--head">
                                    <div class="table-cell--span2">Name</div>
                                    <div class="table-cell">Type</div>
                                    <div class="table-cell--last"></div>
                                </div>
                                {{#each item.items as | embedded |}}
                                    <div class="table-row item-drag" data-item-id="{{embedded.id}}" data-item-type="{{embedded.type}}">
                                        <div class="table-cell--settingstoggle">
                                            <label class="rt-control-button item-edit" data-item-id="{{embedded.id}}">
                                                <span class="rt-control-button__span material-icons">{{defaultVal icon
                                                                                                                  'settings'}}</span>
                                            </label>
                                        </div>
                                        <div class="table-cell--left">
                                            {{> systems/rogue-trader-3rd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' embedded.id) text=embedded.name}}
                                        </div>
                                        <div class="table-cell">
                                            <span>{{capitalize embedded.type}}</span>
                                        </div>
                                        <div class="table-cell--last">
                                            <label class="rt-control-button item-delete" data-item-id="{{embedded.id}}">
                                                <span class="rt-control-button__span material-icons">{{defaultVal icon
                                                                                                                  'delete'}}</span>
                                            </label>
                                        </div>
                                        <div class="table-cell--description description_{{embedded.id}}" {{hideIfNot
                                            (isExpanded (concat 'description_' embedded.id ))}}>
                                            <span>{{embedded.system.description}}</span>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="tab" data-group="primary" data-tab="description">
                        <div class="rt-header__info rt-grid-col-6">
                            <div class="rt-header__item-wrapper--text-area">
                                <span class="rt-header__title">Description</span>
                                <textarea class="rt-header__textarea"
                                          name="system.description">{{item.system.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
</div>


