{{rtlog this}}
<div class="rt-wrapper">
    <div class="rt-chat">
        <h3>{{actor}} Vocalizes</h3>
        <div class="rt-roll">
            <h1>{{name}}</h1>
            <h2>{{type}}</h2>
            <div class="rt-roll__divider"></div>
            <div class="rt-roll__label">{{{description}}}</div>
        </div>
    </div>
</div>
