<div class="rt-panel rt-grid-col-4">
    <h1 class="rt-panel__header">Armour</h1>
    <div class="rt-table--border rt-armourtable--border">
        <div class="table-row--head">
            <div class="table-cell--span2">Name</div>
            <div class="table-cell">Type</div>
            <div class="table-cell">AP</div>
            <div class="table-cell">Equipped</div>
            <div class="table-cell--last">
                <label class="rt-control-button item-create" data-type="armour">
                    <span class="rt-control-button__span material-icons">{{defaultVal icon 'add_circle'}}</span>
                </label>
            </div>
        </div>
        {{#each items as | item |}}
            {{#if item.isArmour}}
                <div class="table-row item-drag" data-item-id="{{item.id}}" data-item-type="armour">
                    <div class="table-cell--settingstoggle">
                        <label class="rt-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                        </label>
                    </div>
                    <div class="table-cell--left">
                        {{> systems/rogue-trader-3rd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' item.id) text=item.name}}
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.type}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{armourDisplay item.system}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.equipped}}</span>
                    </div>
                    <div class="table-cell--last">
                        <label class="rt-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">{{defaultVal icon 'delete'}}</span>
                        </label>
                    </div>
                    <div class="table-cell--description description_{{item.id}}" {{hideIfNot
                        (isExpanded (concat 'description_' item.id ))}}>
                        <div class="rt-settings">
                            <div class="rt-field__wrapper">
                                <span class="rt-field__header">Head</span>
                                <span class="rt-field__span">{{item.system.armourPoints.head}}</span>
                            </div>
                            <div class="rt-field__wrapper">
                                <span class="rt-field__header">Left Arm</span>
                                <span class="rt-field__span">{{item.system.armourPoints.leftArm}}</span>
                            </div>
                            <div class="rt-field__wrapper">
                                <span class="rt-field__header">Right Arm</span>
                                <span class="rt-field__span">{{item.system.armourPoints.rightArm}}</span>
                            </div>
                            <div class="rt-field__wrapper">
                                <span class="rt-field__header">Body</span>
                                <span class="rt-field__span">{{item.system.armourPoints.body}}</span>
                            </div>
                            <div class="rt-field__wrapper">
                                <span class="rt-field__header">Left Leg</span>
                                <span class="rt-field__span">{{item.system.armourPoints.leftLeg}}</span>
                            </div>
                            <div class="rt-field__wrapper">
                                <span class="rt-field__header">Right Leg</span>
                                <span class="rt-field__span">{{item.system.armourPoints.rightLeg}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
