<div class="rt-panel spacer rt-grid-col-2">
    <h1 class="rt-panel__header">Movement</h1>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Size</span>
        <select class="rt-field__input" name="system.size">
            {{selectOptions rt.bio.size selected=actor.size}}
        </select>
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Half</span>
        <span class="rt-field__span">{{actor.movement.half}}m</span>
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Full</span>
        <span class="rt-field__span">{{actor.movement.full}}m</span>
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Charge</span>
        <span class="rt-field__span">{{actor.movement.charge}}m</span>
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Run</span>
        <span class="rt-field__span">{{actor.movement.run}}m</span>
    </div>
</div>
