<div class="rt-panel spacer rt-grid-col-2">
    <h1 class="rt-panel__header">Detection</h1>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Ship Signature</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.signature" value="{{actor.system.signature}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Detection Value</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.detection" value="{{actor.system.detection}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Augur Range</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.radar" value="{{actor.system.radar}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Gravitics Range</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.gravitics" value="{{actor.system.gravitics}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Operation Bonus</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.operator.augurs" value="{{actor.system.operator.augurs}}" />
    </div>
</div>
