<div class="rt-panel rt-grid-col-6">
    <h1 class="rt-panel__header">Weapons</h1>
    <div class="rt-table--border rt-shipweaponstable--border">
        <div class="table-row--head">
            <div class="table-cell--span2">Name</div>
            <div class="table-cell">Class</div>
            <div class="table-cell">Type</div>
            <div class="table-cell">Slot</div>
            <div class="table-cell">Range</div>
            <div class="table-cell">Strength</div>
            <div class="table-cell">Damage</div>
            <div class="table-cell--last">
                <label class="rt-control-button item-create" data-type="shipWeapon">
                    <span class="rt-control-button__span material-icons">{{defaultVal icon 'add_circle'}}</span>
                </label>
            </div>
        </div>
        {{#each items as | item |}}
            {{#if item.isShipWeapon}}
                <div class="table-row item-drag" data-item-id="{{item.id}}" data-item-type="shipWeapon">
                    <div class="table-cell--settingstoggle">
                        <label class="rt-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                        </label>
                    </div>
                    <div class="table-cell--left">
                        {{> systems/rogue-trader-3rd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' item.id) text=item.name}}
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.class}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.type}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.slot}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.rangeSmall}}/{{item.system.rangeMedium}}/{{item.system.rangeLong}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.strength}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.damage}}</span>
                    </div>
                    <div class="table-cell--last">
                        <button type="roll-header" class='combat-control' data-action='weapons' data-item-id="{{item.id}}">{{defaultVal icon 'casino'}}</button>
                        <label class="rt-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">{{defaultVal icon 'delete'}}</span>
                        </label>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
