<div class="rt-panel spacer rt-grid-col-2">
    <h1 class="rt-panel__header">Boarding</h1>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Troops Limit</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.troops.max" value="{{actor.system.troops.max}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Troops Left</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.troops.value" value="{{actor.system.troops.value}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Boarding Actions</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.boarding.actions" value="{{actor.system.boarding.actions}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Boarding Damage</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.boarding.damage" value="{{actor.system.boarding.damage}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Operator Bonus</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.operator.boarding" value="{{actor.system.operator.boarding}}" />
    </div>
</div>
