<div class="rt-panel spacer rt-grid-col-2">
    <h1 class="rt-panel__header">Defense</h1>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Shield Layers</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.shields" value="{{actor.shields}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Prow Armour</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.armour.prow" value="{{actor.armour.prow}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Side Armour</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.armour.side" value="{{actor.armour.side}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Rear Armour</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.armour.rear" value="{{actor.armour.rear}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Turrets</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.turrets" value="{{actor.turrets}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Weapons Operator</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.operator.weapons" value="{{actor.operator.weapons}}" />
    </div>
</div>
