<div class="rt-panel rt-grid-col-6">
    <h1 class="rt-panel__header">Traits</h1>
    <div class="rt-table--border rt-shiptraitstable--border">
        <div class="table-row--head">
            <div class="table-cell--span1">Name</div>
            <div class="table-cell--span3">Description</div>
            <div class="table-cell--last">
                <label class="rt-control-button item-create" data-type="trait">
                    <span class="rt-control-button__span material-icons">{{defaultVal icon 'add_circle'}}</span>
                </label>
            </div>
        </div>
        {{#each items as | item |}}
            {{#if item.isTrait}}
                <div class="table-row">
                    <div class="table-cell--settingstoggle">
                        <label class="rt-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                        </label>
                    </div>
                    <div class="table-cell">
                        <span>{{item.name}}</span>
                    </div>
                    <div class="table-cell">
                        <span>{{item.system.description}}</span>
                    </div>
                    <div class="table-cell">
                        <label class="rt-control-button item-vocalize" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">{{defaultVal icon 'record_voice_over'}}</span>
                        </label>
                        <label class="rt-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">{{defaultVal icon 'delete'}}</span>
                        </label>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
