<div class="rt-panel spacer rt-grid-col-2">
    <button type="roll" class='combat-control__label' data-action='attack'>Defense</button>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Shield Layers</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.shields" value="{{actor.system.shields}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Prow Armour</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.armour.prow" value="{{actor.system.armour.prow}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Side Armour</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.armour.side" value="{{actor.system.armour.side}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Rear Armour</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.armour.rear" value="{{actor.system.armour.rear}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Turrets</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.turrets" value="{{actor.system.turrets}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Weapons Operator</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.operator.weapons" value="{{actor.system.operator.weapons}}" />
    </div>
</div>
